[submodule "3rd/keystone"]
	path = 3rd/keystone
	url = https://github.com/wormtql/keystone.git
[submodule "3rd/pocketfft"]
	path = 3rd/pocketfft
	url = https://github.com/hayguen/pocketfft.git
[submodule "3rd/z3"]
	path = 3rd/z3
	url = https://github.com/Z3Prover/z3.git
[submodule "3rd/argparse"]
	path = 3rd/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "3rd/catch2"]
	path = 3rd/catch2
	url = https://github.com/catchorg/Catch2.git
